* {
	box-sizing: border-box;
}
div {
	border: 1px solid black;
	padding: 0.3em;
}

.container {
	display: flex;
	flex-direction: row;
	background-color: #ADBFDE;
	/* flex-wrap: wrap; */
}

.container > div {
	flex-basis: 15em;
	background-color: #D2DAE9;
	flex-shrink: 0;
	/* flex-grow: 1; */
}
/* .container > div:nth-child(2) {
	flex-grow: 2;
} */
.container > div:nth-child(3) {
	/* flex-grow: 3; */
	flex-shrink: 1;
}


h1, p {
	padding-left: 1rem;
}

/* body {
	padding: 0em;
	margin: 0em;
} */

.flex-container {
	/* width: 100vw; */
	height: 10em;
	display: flex;
	background-color: #95DAB9;
	/* 	Hints: */
	/* flex-wrap: wrap; */
	/* flex-direction: column; */
}

.flex-container > * {
	padding: 1em 3em;
	margin: 0.4em;
	border: 1px solid black;
	border-radius: 4px;
	/* flex-grow: 1;
	flex-basis: 0; */
	flex: 0 0 10em;
}

.item1 {
	background-color: #56CE67;
	/* 	flex or flex-grow */
	/* flex: 0 0 5em; */
}

.item2 {
	background-color: #329B40;
	/* flex-grow: 2; */
	flex: 1 0 0;  /* flex-grow: 1; flex-shrink: 0; flex-basis: 0; */
}

.item3 {
	background-color: #56CE67;
}



.flex-reproduce {
	display: flex;
	width: 20em;
	border: 1px solid rgb(31, 31, 127);
	border-radius: 0.2em;
	padding: 0.1em;
	margin-bottom: 0.5em;
}
.flex-reproduce > * {
	flex: 0 0 2em;
	height: 2em;
	border: 1px solid rgb(31, 31, 127);
	border-radius: 0.2em;
	margin: 0.1em;
	background-color: rgb(94, 94, 230);
}
.flex-1 {
	flex: 1 0 0;
}
.flex-2 {
	flex: 2 0 0;
}
.flex-3 {
	flex: 3 0 0;
}

/* Avancerad teknik: det går att välja ut element vars CSS-klasser innehåller en sträng */
/* [class*="flex-"] {
	border: 2px dotted pink;
} */
